<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world!</h1>

<div>
    <canvas id="ageChart"></canvas>
    <canvas id="genderChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const ageDistribution = [[${ageDistribution}]];
    const femaleCount = [[${femaleCount}]];
    const totalPeople = Object.values(ageDistribution).reduce((a, b) => a + b, 0);
    const otherCount = totalPeople - femaleCount;

    const ageCtx = document.getElementById('ageChart');
    const genderCtx = document.getElementById('genderChart');

    new Chart(ageCtx, {
        type: 'bar',
        data: {
            labels: Object.keys(ageDistribution),
            datasets: [{
                label: 'Age Distribution',
                data: Object.values(ageDistribution)
            }]
        }
    });

    new Chart(genderCtx, {
        type: 'pie',
        data: {
            labels: ['Female', 'Others'],
            datasets: [{
                label: 'Gender Distribution',
                data: [femaleCount, otherCount]
            }]
        }
    });
    /*]]>*/
</script>

</body>
</html>
