<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Graph Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/getweather.js}"></script>
    <style>
        .button {
            width: 100%; /* 버튼의 너비를 컨테이너에 맞춥니다. */
            margin-bottom: 10px !important; /* 버튼 사이의 수직 간격을 줄입니다. */
            padding: 20px 10px !important;
        }

        /* 사용자 지정 버튼 색상 */
        .btn-custom {
            background-color: #F7F8E0;
            border-color: #F7F8E0;
        }

        .btn-custom:hover {
            background-color: #F2F5A9;
        }


        /* 각 row에 대한 간격을 조정합니다. */
        .row {
            margin-right: -15px; /* 부트스트랩 row의 음수 마진을 재조정합니다. */
            margin-left: -15px; /* 부트스트랩 row의 음수 마진을 재조정합니다. */
        }

        /* 각 컬럼의 패딩을 조정하여 간격을 동일하게 만듭니다. */
        .row, .row > [class*='col-'] {
            padding-right: 5px; /* 컬럼 오른쪽 패딩을 줄입니다. */
            padding-left: 5px; /* 컬럼 왼쪽 패딩을 줄입니다. */
        }

        /* 부트스트랩 그리드 간격을 조정할 수 있는 클래스 추가 */
        .gap {
            gap: 15px; /* grid-gap 속성으로 열 사이의 간격을 조정합니다. */
        }


    </style>
</head>

<body>

<div class="container">
<!-- 단계별 리스트 컨테이너, 초기에는 step1만 표시 -->
    <div id="step1-container" class="step-container">
        <div id="step1-list" class="row"> <!-- 변경된 부분: ul이 아닌 div로 수정 -->
        </div>
    </div>

    <div id="step2-container" class="step-container" style="display:none;">
        <button onclick="goBackToStep1()" class="btn btn-secondary mb-3">&lt;</button>
        <div id="step2-list" class="row">
        </div>
    </div>

    <div id="step3-container" class="step-container" style="display:none;">
        <button onclick="goBackToStep2()" class="btn btn-secondary mb-3">&lt;</button>
        <div id="step3-list" class="row">
        </div>
    </div>

</div>

<div id="weather-data"></div>

<p id="coordinates-display"></p>


<script> // 3선택

function goBackToStep1() {
    document.getElementById('step1-container').style.display = 'block';
    document.getElementById('step2-container').style.display = 'none';
    document.getElementById('step3-container').style.display = 'none';
}

function goBackToStep2() {
    document.getElementById('step2-container').style.display = 'block';
    document.getElementById('step3-container').style.display = 'none';
}

document.addEventListener('DOMContentLoaded', function() {
    fetchCities();
});

function fetchCities() {
    fetch('/api/cities')
        .then(response => response.json())
        .then(citiesData => {
            const step1List = document.getElementById('step1-list');
            step1List.innerHTML = ''; // 기존 목록을 지웁니다.
            citiesData.forEach((city) => {
                const colDiv = document.createElement('div');
                // 부트스트랩에서 3열로 정렬하기 위해 col-lg-4를 사용합니다.
                colDiv.className = 'col-lg-4 d-flex justify-content-center align-items-stretch';
                const button = document.createElement('button');
                button.textContent = city;
                button.className = 'btn btn-custom button my-2 button my-2'; // 부트스트랩 버튼 클래스 사용
                button.onclick = function() { onStep1Clicked(city); };
                colDiv.appendChild(button);
                step1List.appendChild(colDiv);
            });
        })
        .catch(error => console.error('Error fetching cities:', error));
}


function onStep1Clicked(cityValue) {
    fetch(`/api/districts/${encodeURIComponent(cityValue)}`)
        .then(response => response.json())
        .then(districtsData => {
            const step2List = document.getElementById('step2-list');
            step2List.innerHTML = ''; // 기존 목록을 지웁니다.
            districtsData.forEach((district) => {
                if (district.trim() !== '') { // 값이 있는 경우에만 버튼 생성
                    const colDiv = document.createElement('div');
                    colDiv.className = 'col-lg-4 d-flex justify-content-center align-items-stretch mb-3';
                    const button = document.createElement('button');
                    button.textContent = district;
                    button.className = 'btn btn-custom button my-2 button my-2'; // 부트스트랩 버튼 클래스 사용
                    button.onclick = function() { onStep2Clicked(cityValue, district); };
                    colDiv.appendChild(button);
                    step2List.appendChild(colDiv);
                }
            });
            document.getElementById('step2-container').style.display = 'block';
            document.getElementById('step1-container').style.display = 'none';
        })
        .catch(error => console.error('Error fetching districts:', error));
}

function onStep2Clicked(cityValue, districtValue) {
    fetch(`/api/subdistricts/${encodeURIComponent(cityValue)}/${encodeURIComponent(districtValue)}`)
        .then(response => response.json())
        .then(subdistrictsData => {
            const step3List = document.getElementById('step3-list');
            step3List.innerHTML = ''; // 기존 목록을 지웁니다.
            subdistrictsData.forEach((subdistrict) => {
                if (subdistrict.trim() !== '') { // 값이 있는 경우에만 버튼 생성
                    const colDiv = document.createElement('div');
                    colDiv.className = 'col-lg-4 d-flex justify-content-center align-items-stretch mb-3';
                    const button = document.createElement('button');
                    button.textContent = subdistrict;
                    button.className = 'btn btn-custom button my-2 button my-2'; // 부트스트랩 버튼 클래스 사용
                    button.onclick = function() { onStep3Clicked(cityValue, districtValue, subdistrict); };
                    colDiv.appendChild(button);
                    step3List.appendChild(colDiv);
                }
            });
            document.getElementById('step3-container').style.display = 'block'; // step3 컨테이너를 보여줍니다.
            document.getElementById('step2-container').style.display = 'none'; // step2 컨테이너를 숨깁니다.
        })
        .catch(error => console.error('Error fetching subdistricts:', error));
}


function onStep3Clicked(city, district, subdistrict) {
    fetch(`/api/coordinates?city=${encodeURIComponent(city)}&district=${encodeURIComponent(district)}&subdistrict=${encodeURIComponent(subdistrict)}`)
        .then(response => response.json())
        .then(location => {
            if(location) {
                console.log('Coordinates:', location);
                // 좌표 정보를 DOM에 표시하거나 다른 처리를 할 수 있습니다.
                // 예를 들어, 아래 코드를 사용하여 HTML 요소에 좌표를 표시할 수 있습니다.
                document.getElementById('coordinates-display').textContent = `X: ${location.X}, Y: ${location.Y}`;
                getWeather(location.X, location.Y);
            } else {
                console.error('Location not found');
            }
        })
        .catch(error => console.error('Error:', error));
}
</script>

<script>
    function getNextForecastTime() {
        let now = new Date();
        let nextForecastHour = Math.floor(now.getHours() / 3) * 3 - 1;
        if(nextForecastHour.toString().padStart(2, '0') === '00' || nextForecastHour.toString().padStart(2, '0') === '01' || nextForecastHour.toString().padStart(2, '0') === '02') {
            return '2300';
        }
        if(Math.floor(now.getHours())% 3 === 2 && now.getMinutes() >= 11) {
            return Math.floor(now.getHours()).toString().padStart(2, '0') + '00';
        }
        console.log(nextForecastHour.toString().padStart(2, '0') + '10');
        return nextForecastHour.toString().padStart(2, '0') + '00'; // 예: '0210', '0510'
    }

    function getWeather(gridX, gridY) {
        console.log("Fetching weather for coordinates:", gridX, gridY); // Debugging log
        var forecastTime = getNextForecastTime(); // 다음 예보 시간 계산
        var currentDate = new Date().toISOString().slice(0, 10).replace(/-/g, '');
        console.log(forecastTime);
        console.log(currentDate);
        var xhr = new XMLHttpRequest();
        var url = 'https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst';
        var queryParams = '?' + encodeURIComponent('serviceKey') + '=' + 'hogAXADhx1TwUFYu9kBfwwvsv5m%2FwsLzvQT2tBT0BFSH3eLnXp88Dx%2FR6x2GCPtWKfaUQEPix2VcWYEp0Hz5Tw%3D%3D';
        queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1');
        queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('37'); //12개씩 적용 12*4 = 48
        queryParams += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('XML');
        queryParams += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent(currentDate);
        queryParams += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent(forecastTime);


        queryParams += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent(gridX);
        queryParams += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent(gridY);
        xhr.open('GET', url + queryParams);
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                // 날씨 데이터 처리
                displayWeatherData(this.responseXML);
                // console.log(this.responseText);
            }
        };
        xhr.send();
    }

    function calculateCurrentTime() {
        let now = new Date();
        let currentTime = Math.floor(now.getHours()) * 100 - getNextForecastTime() - 100;
        return currentTime / 100;
    }
    function displayWeatherData(xml) {
        const items = xml.getElementsByTagName("item");
        let weatherData = {};
        let startPoint = calculateCurrentTime();
        console.log(startPoint * 12);
        // 데이터 구조화
        console.log("아이템 length : " + items.length);
        for (let i = startPoint * 12; i < (items.length /3 - 1) * (startPoint + 1); i++) {
            const category = items[i].getElementsByTagName("category")[0].childNodes[0].nodeValue;
            const value = items[i].getElementsByTagName("fcstValue")[0].childNodes[0].nodeValue;
            const time = items[i].getElementsByTagName("fcstTime")[0].childNodes[0].nodeValue;

            if (!weatherData[time]) {
                weatherData[time] = {};
            }
            weatherData[time][category] = value;
        }

        // 테이블 생성
        let output = "<h3>Weather Forecast</h3>";
        output += "<table class='table table-striped table-hover'><thead class='table-dark'><tr><th>Time</th><th>Temperature (°C)</th><th>Wind Speed (m/s)</th><th>Humidity (%)</th><th>Precipitation</th><th>Sky Condition</th><th>Weather Icon</th></tr></thead><tbody>";

        for (const [time, data] of Object.entries(weatherData)) {
            const weatherIcon = getWeatherIcon(parseInt(data['SKY']), parseInt(data['PTY']));
            output += `<tr>
                <td>${time}</td>
                <td>${data['TMP'] || '—'}</td>
                <td>${data['WSD'] || '—'}</td>
                <td>${data['REH'] || '—'}</td>
                <td>${data['PCP'] || '—'}</td>
                <td>${data['SKY'] || '—'}</td>
                <td>${weatherIcon || '—'}</td>
              </tr>`;
        }

        output += "</tbody></table>";
        document.getElementById("weather-data").innerHTML = output;
    }


    $(document).ready(function() {
        setupAutocomplete('#city', 'city', 'cityResults');
        setupAutocomplete('#district', 'district', 'districtResults');
        setupAutocomplete('#subdistrict', 'subdistrict', 'subdistrictResults');

        function setupAutocomplete(selector, type, resultListId) {
            $(selector).on('input', function() {
                var input = $(this).val();
                if (input.length > 1) {
                    $.ajax({
                        url: '/searchAddress',
                        method: 'GET',
                        data: { type: type, searchTerm: input },
                        success: function(data) {
                            var autocompleteResults = $('#' + resultListId);
                            autocompleteResults.empty();
                            data.forEach(function(item) {
                                autocompleteResults.append($('<option>').val(item));
                            });
                        }
                    });
                }
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        var gridX = document.getElementById('gridX').value;
        var gridY = document.getElementById('gridY').value;
        if (gridX && gridY) {
            getWeather(gridX, gridY);
        }
    });

</script>

<script>
    function getWeatherIcon(sky, precipitation) {
        const icons = {
            clear: '☀️', // 맑음 아이콘
            cloudy: '🌥', // 구름많음 아이콘
            overcast: '☁️', // 흐림 아이콘
            rain: '🌧', // 비 아이콘
            sleet: '🌨', // 비/눈 아이콘
            snow: '❄️', // 눈 아이콘
            shower: '⛈' // 소나기 아이콘
        };

        // 하늘 상태를 기반으로 아이콘 설정
        let icon = '';
        switch(sky) {
            case 1: // 맑음
                icon = icons.clear;
                break;
            case 3: // 구름많음
                icon = icons.cloudy;
                break;
            case 4: // 흐림
                icon = icons.overcast;
                break;
            default:
                icon = '';
        }

        // 강수 형태에 따라 아이콘을 추가
        switch(precipitation) {
            case 1: // 비
                icon = icons.rain;
                break;
            case 2: // 비/눈
                icon = icons.sleet;
                break;
            case 3: // 눈
                icon = icons.snow;
                break;
            case 4: // 소나기
                icon = icons.shower;
                break;
            default:
        }

        return icon;
    }

</script>

</body>
</html>
