<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Graph Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/getweather.js}"></script>
</head>

<body>
<h1>Location Grid Finder</h1>
<!--<form method="POST" action="/getCoordinates">-->
<!--    <label for="city">1단계:</label>-->
<!--    <input type="text" id="city" name="city" required>-->

<!--    <label for="district">2단계:</label>-->
<!--    <input type="text" id="district" name="district">-->

<!--    <label for="subdistrict">3단계:</label>-->
<!--    <input type="text" id="subdistrict" name="subdistrict">-->

<!--    <input type="hidden" id="gridX" name="gridX" th:value="${gridX}">-->
<!--    <input type="hidden" id="gridY" name="gridY" th:value="${gridY}">-->
<!--    <button type="submit">Get Coordinates</button>-->
<!--</form>-->

<form id="getCoordinatesForm" method="POST" action="/getCoordinates" enctype="multipart/form-data">
    <label for="city">1단계:</label>
    <input type="text" id="city" name="city" required list="cityResults">

    <label for="district">2단계:</label>
    <input type="text" id="district" name="district" list="districtResults">

    <label for="subdistrict">3단계:</label>
    <input type="text" id="subdistrict" name="subdistrict" list="subdistrictResults">
        <input type="hidden" id="gridX" name="gridX" th:value="${gridX}">
        <input type="hidden" id="gridY" name="gridY" th:value="${gridY}">
    <button type="submit">Get Coordinates</button>
</form>

<datalist id="cityResults"></datalist>
<datalist id="districtResults"></datalist>
<datalist id="subdistrictResults"></datalist>


<!-- 결과 출력 -->
<div th:if="${gridX}">
    <p>Grid X: <span th:text="${gridX}"></span></p>
    <p>Grid Y: <span th:text="${gridY}"></span></p>
</div>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<div class="container">
    <div class="container">
        <!--        <label for="latitude">위도:</label>-->
        <!--        <input type="text" id="latitude" name="latitude">-->
        <!--        <label for="longitude">경도:</label>-->
        <!--        <input type="text" id="longitude" name="longitude">-->
        <!--        <button id="getWeather">날씨 확인 (위도 경도)</button>-->
        <!--        <button onclick="getWeather()">Get Weather</button>-->
        <!--        <div id="weatherInfo">-->
        <!--            <h2>현재 날씨 상태</h2>-->
        <!--            <p id="temperature">기온: </p>-->
        <!--            <p id="skyCondition">하늘 상태: </p>-->
        <!--            <p id="precipitationType">강수 형태: </p>-->
        <!--            <p id="rainfall1h">동서 바람 : </p>-->
        <!--            <p id="mintemperature">풍향: </p>-->
        <!--            <img id="weatherIcon" src="" alt="날씨 아이콘" style="width:100px; height:100px;">-->
        <!--        </div>-->
        <div id="weather-text"></div>
        <div id="location"></div>
        <div id="weather-data"></div>
        <h1 class="mt-5">연령별 및 성별 그래프</h1>
        <div class="btn-group mt-3">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">여성</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">남성</label>
        </div>
        <div>
            <canvas id="mixedChart"></canvas>
        </div>
        <div>
            <canvas id="barChart"></canvas>
        </div>
        <div>
            <canvas id="stackedBarChart"></canvas>
        </div>
    </div>
</div>
<script>

    function getWeather(gridX, gridY) {
        console.log("Fetching weather for coordinates:", gridX, gridY); // Debugging log
        var xhr = new XMLHttpRequest();
        var url = 'https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst';
        var queryParams = '?' + encodeURIComponent('serviceKey') + '=' + 'hogAXADhx1TwUFYu9kBfwwvsv5m%2FwsLzvQT2tBT0BFSH3eLnXp88Dx%2FR6x2GCPtWKfaUQEPix2VcWYEp0Hz5Tw%3D%3D';
        queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1');
        queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('50');
        queryParams += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('XML');
        queryParams += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent('20240413');
        queryParams += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('0500');
        queryParams += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent(gridX);
        queryParams += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent(gridY);
        xhr.open('GET', url + queryParams);
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                // 날씨 데이터 처리
                console.log(this.responseText);
            }
        };
        xhr.send();
    }

    $(document).ready(function() {
        setupAutocomplete('#city', 'city', 'cityResults');
        setupAutocomplete('#district', 'district', 'districtResults');
        setupAutocomplete('#subdistrict', 'subdistrict', 'subdistrictResults');

        function setupAutocomplete(selector, type, resultListId) {
            $(selector).on('input', function() {
                var input = $(this).val();
                if (input.length > 1) {
                    $.ajax({
                        url: '/searchAddress',
                        method: 'GET',
                        data: { type: type, searchTerm: input },
                        success: function(data) {
                            var autocompleteResults = $('#' + resultListId);
                            autocompleteResults.empty();
                            data.forEach(function(item) {
                                autocompleteResults.append($('<option>').val(item));
                            });
                        }
                    });
                }
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        var gridX = document.getElementById('gridX').value;
        var gridY = document.getElementById('gridY').value;
        if (gridX && gridY) {
            getWeather(gridX, gridY);
        }
    });

</script>


<!--<script>-->
<!--    function submitCoordinates() {-->
<!--        var city = document.getElementById('city').value;-->
<!--        var district = document.getElementById('district').value;-->
<!--        var subdistrict = document.getElementById('subdistrict').value;-->

<!--        var xhr = new XMLHttpRequest();-->
<!--        xhr.open("POST", "/getCoordinates", true);-->
<!--        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");-->
<!--        xhr.onreadystatechange = function() {-->
<!--            if (this.readyState === 4 && this.status === 200) {-->
<!--                // 서버로부터 응답받은 JSON 데이터 파싱-->
<!--                var response = JSON.parse(this.responseText);-->
<!--                if(response.gridX && response.gridY) {-->
<!--                    getWeather(response.gridX, response.gridY);-->
<!--                }-->
<!--            }-->
<!--        };-->
<!--        xhr.send("city=" + encodeURIComponent(city) + "&district=" + encodeURIComponent(district) + "&subdistrict=" + encodeURIComponent(subdistrict));-->
<!--    }-->

<!--    function getWeather(gridX, gridY) {-->
<!--        var xhr = new XMLHttpRequest();-->
<!--        var url = 'https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst';-->
<!--        var queryParams = '?' + encodeURIComponent('serviceKey') + '=' + '실제서비스키';-->
<!--        queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1');-->
<!--        queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('50');-->
<!--        queryParams += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('XML');-->
<!--        queryParams += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent('20240407');-->
<!--        queryParams += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('0500');-->
<!--        queryParams += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent(gridX);-->
<!--        queryParams += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent(gridY);-->
<!--        xhr.open('GET', url + queryParams);-->
<!--        xhr.onreadystatechange = function () {-->
<!--            if (this.readyState === 4 && this.status === 200) {-->
<!--                // 날씨 데이터 처리-->
<!--                console.log(this.responseText);-->
<!--            }-->
<!--        };-->
<!--        xhr.send();-->
<!--    }-->

<!--    document.getElementById("getCoordinatesForm").addEventListener("submit", function(event){-->
<!--        event.preventDefault();-->
<!--        submitCoordinates();-->
<!--    });-->
<!--</script>-->

<!--<script>-->

<!--    $(document).ready(function() {-->
<!--        var mixedChartInstance = null;-->

<!--        function getGenderAgeDistribution(gender) {-->
<!--            return $.ajax({url: `/people/age-distribution?gender=${gender}`, type: 'GET'});-->
<!--        }-->

<!--        function updateCharts(gender) {-->
<!--            const genderLabel = gender === 'Female' ? '여성' : '남성';-->
<!--            // 여기서 $.when을 사용하여 두 Promise가 모두 완료될 때까지 기다립니다.-->
<!--            $.when(-->
<!--                $.ajax({url: '/age-distribution', type: 'GET'}),-->
<!--                getGenderAgeDistribution(gender)-->
<!--            ).done(function (ageDistributionResponse, genderAgeDistributionResponse) {-->
<!--                // 여기서 ageDistributionResponse와 genderAgeDistributionResponse는-->
<!--                // [data, textStatus, jqXHR] 형식의 배열입니다.-->
<!--                initializeCharts(ageDistributionResponse[0], genderAgeDistributionResponse[0], genderLabel);-->
<!--            }).fail(function (error) {-->
<!--                console.log("Error loading data:", error);-->
<!--            });-->
<!--        }-->

<!--        // 라디오 버튼 이벤트 핸들러-->
<!--        $('#btnradio1').click(function () {-->
<!--            updateCharts('Female');-->
<!--        });-->

<!--        $('#btnradio2').click(function () {-->
<!--            updateCharts('Male');-->
<!--        });-->

<!--        // 초기 차트 로딩-->
<!--        updateCharts('Female');-->

<!--        function initializeCharts(ageDistribution, genderAgeDistribution, genderLabel) {-->
<!--            const chartData = {-->
<!--                labels: Object.keys(ageDistribution),-->
<!--                datasets: [{-->
<!--                    label: '연령대별 분포',-->
<!--                    data: Object.values(ageDistribution),-->
<!--                    backgroundColor: 'rgba(255, 206, 86, 0.2)',-->
<!--                    borderColor: 'rgba(255, 206, 86, 1)',-->
<!--                }, {-->
<!--                    label: `성별 분포 (${genderLabel})`,-->
<!--                    data: Object.values(genderAgeDistribution),-->
<!--                    type: 'line',-->
<!--                    borderColor: genderLabel === '여성' ? 'rgb(255, 99, 132)' : 'rgb(54, 162, 235)',-->
<!--                    fill: false,-->
<!--                }]-->
<!--            };-->

<!--            if (mixedChartInstance) {-->
<!--                mixedChartInstance.data = chartData;-->
<!--                mixedChartInstance.update();-->
<!--            } else {-->
<!--                const ctx = document.getElementById('mixedChart');-->
<!--                mixedChartInstance = new Chart(ctx, {-->
<!--                    type: 'bar',-->
<!--                    data: chartData,-->
<!--                    options: {-->
<!--                        scales: {-->
<!--                            y: {-->
<!--                                beginAtZero: true,-->
<!--                            }-->
<!--                        }-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--        }-->

<!--        initializeBarChart(); // 바 차트 초기화 호출 추가-->
<!--        function initializeBarChart() {-->
<!--            const barCtx = document.getElementById('barChart');-->
<!--            $.ajax({-->
<!--                url: '/age-distribution',-->
<!--                method: 'GET',-->
<!--                success: function (ageDistribution) {-->
<!--                    // AJAX request for female age distribution-->
<!--                    $.ajax({-->
<!--                        url: '/people/age-distribution',-->
<!--                        data: {gender: 'Female'},-->
<!--                        method: 'GET',-->
<!--                        success: function (femalesByAgeGroup) {-->
<!--                            $.ajax({-->
<!--                                url: '/people/age-distribution',-->
<!--                                data: {gender: 'Male'},-->
<!--                                method: 'GET',-->
<!--                                success: function (malesByAgeGroup) {-->
<!--                                    let barChart = new Chart(barCtx, {-->
<!--                                        type: 'bar',-->
<!--                                        data: {-->
<!--                                            labels: Object.keys(ageDistribution),-->
<!--                                            datasets: [{-->
<!--                                                label: '연령대별 분포',-->
<!--                                                data: Object.values(ageDistribution),-->
<!--                                                backgroundColor: 'rgba(255, 206, 86, 0.2)',-->
<!--                                                borderColor: 'rgba(255, 206, 86, 1)',-->
<!--                                                borderWidth: 1-->
<!--                                            }, {-->
<!--                                                label: '성별 분포 (여성)',-->
<!--                                                data: Object.values(femalesByAgeGroup),-->
<!--                                                backgroundColor: 'rgba(255, 99, 132, 0.2)',-->
<!--                                                borderColor: 'rgba(255, 99, 132, 1)',-->
<!--                                                borderWidth: 1-->
<!--                                            }, {-->
<!--                                                label: '성별 분포 (남성)',-->
<!--                                                data: Object.values(malesByAgeGroup),-->
<!--                                                backgroundColor: 'rgba(54, 162, 235, 0.2)',-->
<!--                                                borderColor: 'rgba(54, 162, 235, 1)',-->
<!--                                                borderWidth: 1-->
<!--                                            }]-->
<!--                                        },-->
<!--                                        options: {-->
<!--                                            scales: {-->
<!--                                                y: {-->
<!--                                                    beginAtZero: true-->
<!--                                                }-->
<!--                                            }-->
<!--                                        }-->
<!--                                    });-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--        initializeStackedBarChart(); // 스택형 바 차트 초기화 함수 호출-->
<!--        function initializeStackedBarChart() {-->
<!--            // AJAX 요청으로 전체 연령 분포 데이터 가져오기-->
<!--            $.ajax({-->
<!--                url: '/age-distribution',-->
<!--                method: 'GET',-->
<!--                success: function (ageDistribution) {-->
<!--                    // AJAX 요청으로 여성의 연령별 분포 데이터 가져오기-->
<!--                    $.ajax({-->
<!--                        url: '/people/age-distribution',-->
<!--                        data: {gender: 'Female'},-->
<!--                        method: 'GET',-->
<!--                        success: function (femalesByAgeGroup) {-->
<!--                            // AJAX 요청으로 남성의 연령별 분포 데이터 가져오기-->
<!--                            $.ajax({-->
<!--                                url: '/people/age-distribution',-->
<!--                                data: {gender: 'Male'},-->
<!--                                method: 'GET',-->
<!--                                success: function (malesByAgeGroup) {-->
<!--                                    // 모든 데이터가 준비되면 차트 초기화-->
<!--                                    const stackedCtx = document.getElementById('stackedBarChart');-->
<!--                                    let stackedBarChart = new Chart(stackedCtx, {-->
<!--                                        type: 'bar',-->
<!--                                        data: {-->
<!--                                            labels: Object.keys(ageDistribution),-->
<!--                                            datasets: [{-->
<!--                                                label: '연령대별 분포',-->
<!--                                                data: Object.values(ageDistribution),-->
<!--                                                backgroundColor: 'rgba(255, 206, 86, 0.2)',-->
<!--                                            }, {-->
<!--                                                label: '성별 분포 (여성)',-->
<!--                                                data: Object.values(femalesByAgeGroup),-->
<!--                                                backgroundColor: 'rgba(255, 99, 132, 0.2)',-->
<!--                                            }, {-->
<!--                                                label: '성별 분포 (남성)',-->
<!--                                                data: Object.values(malesByAgeGroup),-->
<!--                                                backgroundColor: 'rgba(54, 162, 235, 0.2)',-->
<!--                                            }]-->
<!--                                        },-->
<!--                                        options: {-->
<!--                                            scales: {-->
<!--                                                x: {-->
<!--                                                    stacked: true,-->
<!--                                                },-->
<!--                                                y: {-->
<!--                                                    stacked: true,-->
<!--                                                    beginAtZero: true,-->
<!--                                                }-->
<!--                                            }-->
<!--                                        }-->
<!--                                    });-->
<!—                                }—>
<!—                            });—>
<!—                        }—>
<!—                    });—>
<!—                }—>
<!—            });—>
<!—        }})—>
<!—</script>—>

</body>
</html>
